{% extends "layouts/site.twig" %}
{% block content %}
  <section class="home-section">
        <div class="container pt-5">
            <h2>Lançamento</h2>
            <form method="post" >
			<input type="number" id="id" value="{{lancamento.id}}" readonly hidden name="id" class="form-control" required>
                <div class="row">
 					<div class="col">
                        <div class="mb-3">
                            <label for="categoria_id" class="form-label">Categoria de transação</label>
                            <select required class="form-select" name="categoria_id" id="categoria_id" 
							{% if not categorias is defined %}
								disabled
							{% endif %}
							>
                                <option value=""></option>
                                {% if categorias is defined %}
									{% for categoria in categorias %}
                                		<option value="{{categoria.id}}" 
										{% if categoria.id == lancamento.categoria_id %}
										selected="selected"
										{% endif %}
										>
											{{categoria.nome}}
                                		</option>
                            		{% endfor %}
								{% else %}

                                    <option selected="selected" value="">Cadastre ao menos uma categoria!</option>
                                
                                {% endif %}

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="date" class="form-label">Data da transação</label>
                            <input class="form-control" id="data_lancamento" type="date" name="data_lancamento"
                                	{% if lancamento.data_lancamento is defined %}
										 value="{{lancamento.data_lancamento}}"
									{% else %}
	 									value=""
									{% endif %}>
								
								
                        </div>
                    </div>
 					<div class="col">
                        <div class="mb-3">
                            <label for="pagamento_id" class="form-label">Método de pagamento</label>
                            <select required class="form-select" name="pagamento_id" id="pagamento_id" 
							{% if not pagamentos is defined %}
								disabled
							{% endif %}
							>
                                <option value=""></option>
                                {% if pagamentos is defined %}
									{% for pagamento in pagamentos %}
                                		<option value="{{pagamento.id}}"
										{% if pagamento.id == lancamento.pagamento_id %}
										selected="selected"
										{% endif %}
										>
											{{pagamento.nome}}
                                		</option>
                            		{% endfor %}

								{% else %}

                                    <option selected="selected" value="">Cadastre ao menos um pagamento!</option>
                                
                                {% endif %}

                            </select>
                        </div>
                        <div class="mb-3">
                           <label for="select" class="form-label">Valor</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="R$" name="valor"
                                    {% if lancamento.valor is defined %}
										 value="{{lancamento.valor}}"
									{% else %}
	 									value=""
									{% endif %}>
                            </div>
                        </div>
                    </div>
					<div class="mb-3">
                    	<label for="descricao" class="form-label">Descrição</label>
                    	<textarea class="form-control" name="descricao" id="descricao"
                    	    rows="3" required>{% if lancamento.descricao is defined %}{{lancamento.descricao}}{% else %}{% endif %}</textarea>
                	</div>
 					<fieldset class="row mb-3">
                    	<legend class="col-form-label col-sm-2 pt-0">Tipo de transação</legend>
                    	<div class="col-sm-10">
                    	    <div class="form-check-inline">
                    	        <input class="form-check-input" type="radio" name="tipo" id="tipo1" value="Rendimento"
								 {% if lancamento.tipo == "Rendimento" %}checked{% else %}{% endif %}>
                    	        <label class="form-check-label" for="tipo1">Rendimento (Entrada)</label>
                    	    </div>
                    	    <div class="form-check-inline">
                    	        <input class="form-check-input" type="radio" name="tipo" id="tipo2" value="Despesa"
								 {% if lancamento.tipo == "Despesa" %}checked{% else %}{% endif %}
								>
                    	        <label class="form-check-label" for="tipo2">Despesa (Saída)</label>
                    	    </div>
                    	</div>
                	</fieldset>
                </div>


				{% if success ==  true and message is defined %}
				<div class='alert alert-success' role='alert'>
						{{message}}  
					</div>
				{% elseif success ==  true %}
					<div class='alert alert-success' role='alert'>
						Lançamento criado com sucesso!

					</div>
				{% endif %}
                {% if success == false and message is defined %}

					<div class="alert alert-danger">
						{{ message }}
					</div>
                {% endif %}
                <a href="/lancamentos" class="btn btn-primary">Voltar</a>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>

    </section>

{% endblock %}
